.editorconfig
stdafx.cpp
stdafx.h
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
App/AS_DEBUG
App/dll
App/engine
App/example
App/icon.ico
App/Resource.rc
App/answer.json
App/*.exe
Intermediate
.vs
*.env
*.SECRET
